body {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background: url('../beerBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alert {
  margin: 30px;
}
